

/*blog-showcase*/

.blog-showcase-search-container{
  position: relative;
  width: 100%;
}

.blog-showcase-search-input {
  width: 351px;
  padding: 16px 48px 16px 50px; /* 留出右邊空間給 icon */
  border: 1px solid #4B4B4B;
}

/* 設定 placeholder 文字顏色為 #4B4B4B */
.blog-showcase-search-input::placeholder {
  color: #4B4B4B;
}

.blog-showcase-search-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  font-size: 24px;
  pointer-events: none; /* 讓點擊 icon 時不會干擾輸入框 */
  font-family: 'Material Symbols Outlined';
}
