.main-blog .card-img-box {
    width: 100%;
    height: 200px;
}

.custom-prev,
.custom-next {
    width: 44px;
    height: 44px;
    position:static;
    
    @media (min-width: 1200px) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }
}

@media (min-width: 1200px) {
    .custom-prev {
        left: 0px;
    }

    .custom-next {
        right: 0px;
    }

    @media (min-width: 1270px) {
        .custom-prev {
            left: -60px;
        }
        .custom-next {
            right: -60px;
        }
    }

    @media (min-width: 1400px) {
        .custom-prev {
            left: -0px;
        }
        .custom-next {
            right: -0px;
        }
    }

    @media (min-width: 1460px) {
        .custom-prev {
            left: -60px;
        }
        .custom-next {
            right: -60px;
        }
    }
}
